@keyframes goldenBorder {
  0% {
    border-image-source: linear-gradient(90deg, #ffefaf, #fff5cc, #ffefaf);
  }
  50% {
    border-image-source: linear-gradient(90deg, #fff5cc, #ffefaf, #fff5cc);
  }
  100% {
    border-image-source: linear-gradient(90deg, #ffefaf, #fff5cc, #ffefaf);
  }
}
