// footer.module.scss

.footer {
  background-color: #010006; // Couleur de fond similaire à la navbar
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .footerContainer {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .footerCopy {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
  }
}
// footer.module.scss

.socialMedia {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 20px;

  .socialIcon {
    width: 24px;
    height: 24px;
    fill: #fff;
    transition: fill 0.3s ease;

    &:hover {
      fill: rgb(210, 199, 139);
    }
  }
}
