@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sofia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "@/app/styles/(homepage)/header.module.scss";
@import "@/app/styles/(homepage)/hero.module.scss";
@import "@/app/styles/(homepage)/valeurs.module.scss";
@import "@/app/styles/(homepage)/about.module.scss";
@import "@/app/styles/(homepage)/temoignage.module.scss";
@import "@/app/styles/(homepage)/services.module.scss";
@import "@/app/styles/(account)/account.module.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./roots.scss";
@import "./navbar.module.scss";
@import "./catalogue.module.scss";
@import "./ordertable.module.scss";
@import "./singleArtist.module.scss";
@import "./footer.module.scss";
@import "./infoPages.module.scss";
@import "./reservation.module.scss";

@layer utilities {
  .text-responsive {
    font-size: clamp(
      0.875rem,
      1.2vw,
      1rem
    ); /* Ajuster les valeurs selon vos besoins */
  }
  @keyframes textShimmer {
    0% {
      background-position: -200% 0%; /* Commence à l'extérieur à gauche */
    }
    50% {
      background-position: 200% 0%; /* Déplace vers l'extérieur à droite */
    }
    100% {
      background-position: -200% 0%; /* Retourne à l'extérieur à gauche */
    }
  }

  .golden-text,
  .golden-text-static {
    @apply font-semibold text-transparent bg-gradient-to-r from-[#ffe991] via-[#fffbeb] to-[#ffeca0] bg-clip-text font-raleway relative;
    background-size: 200%; /* Pour l'effet de brillance */
    animation: textShimmer 5s ease-in-out infinite; /* Applique l'animation continue */
  }

  .pink-link {
    @apply font-normal text-transparent bg-gradient-to-r from-[#ffb3ff] via-[#ff66c4]  to-[#ffb3ff] bg-clip-text font-raleway relative;
    background-size: 200%; /* Pour l'effet de brillance */
    animation: textShimmer 5s ease-in-out infinite; /* Applique l'animation continue */
  }

  .golden-text-static {
    @apply font-normal;
    background-size: 200%;
  }

  /* Bouton doré cohérent avec le texte */
  .golden-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    background: linear-gradient(120deg, #ffe991, #fffbeb, #ffeca0);
    color: black;
    background-size: 200%;
    animation: textShimmer 5s ease-in-out infinite;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;

    /* Font size for larger screens */
    font-size: 1rem;
  }

  /* Effet hover: Métallisé rose avec texte blanc */
  .golden-button:hover {
    background: linear-gradient(
      120deg,
      #ff8cdd,
      #ffb3ff,
      #ff66c4
    ); /* Métallisé rose */
    color: white; /* Texte blanc */
    box-shadow: 0 6px 12px rgba(255, 105, 180, 0.4),
      0 3px 6px rgba(255, 105, 180, 0.2);
  }

  /* Responsive adjustments */
  @media screen and (max-width: 768px) {
    .golden-button {
      font-size: 0.875rem;
      padding: 0.6rem 1.2rem;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.05);
    }
  }

  @media screen and (max-width: 480px) {
    .golden-button {
      font-size: 0.75rem;
      padding: 0.5rem 1rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.04);
    }
  }

  /* Animation shimmer */
  @keyframes textShimmer {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }
}

.golden-border {
  border: 3px solid;
  border-image: linear-gradient(90deg, #ffeca0, #fff5cc, #ffeca0) 1;
  animation: goldenBorder 5s infinite;
}
.pink-border {
  border: 3px solid;
  border-image: linear-gradient(90deg, #ff66c4, #ffb3ff, #ff66c4) 1;
  animation: pinkBorder 5s infinite;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
label {
  @apply golden-text-static;
}

a,
Link {
  @apply golden-text;
  cursor: pointer;
}

button {
  @apply golden-button;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  @apply tracking-wider;
}

body {
  background-color: rgb(20, 20, 20);
}
