@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sofia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "@/app/styles/homepage.module.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./roots.scss";
@import "./navbar.module.scss";
@import "./catalogue.module.scss";
@import "./ordertable.module.scss";

@layer utilities {
  .text-responsive {
    font-size: clamp(
      0.875rem,
      1.2vw,
      1rem
    ); /* Ajuster les valeurs selon vos besoins */
  }

  .golden-text {
    @apply font-semibold text-transparent bg-gradient-to-r from-yellow-100 via-yellow-100 to-yellow-100 bg-clip-text font-raleway relative;
    transition: background-position 0.6s ease-in-out;
    background-size: 200%; /* Augmenter la taille du dégradé pour l'effet de brillance */
    background-position: left; /* Position initiale du dégradé */
    transition: 2s ease-in-out;
  }

  .golden-text:hover,
  .golden-text-static:hover {
    background-position: right; /* Déplace subtilement le dégradé vers la droite */
    background-image: linear-gradient(to right, #fffaf0, #c0b36c, #f0e8c4);
  }

  .golden-text-static {
    @apply text-transparent font-light bg-gradient-to-r from-yellow-100 via-yellow-200 to-yellow-100 bg-clip-text font-raleway relative;
    transition: background-position 0.5s ease-in-out;
    background-size: 200%; /* Augmenter la taille du dégradé pour l'effet de brillance */
    background-position: left; /* Position initiale du dégradé */
  }

  .golden-button {
    @apply inline-block px-6 py-3 rounded-full text-center font-semibold text-black transition duration-300 ease-in-out;
    background: linear-gradient(120deg, #fffaf0, #ffe680, #fffaf0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  }

  .golden-button:hover {
    background: linear-gradient(120deg, #fff4cc, #fff3b1, #fff4cc);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .golden-button:active {
    background: linear-gradient(120deg, #ffeb99, #fff3b1, #ffeb99);
    transform: translateY(2px); /* Légère translation pour un effet de clic */
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.1);
  }
}

.golden-border {
  border: 3.3px solid;
  border-image: linear-gradient(90deg, #ffe680, #fff5cc, #ffe680) 1;
  animation: goldenBorder 5s infinite;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
select {
  @apply golden-text-static;
}

a,
Link {
  @apply golden-text;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  background-color: rgb(20, 20, 20);
}
