.order-card,
.container_order_user {
  background-image: radial-gradient(circle, rgba(10, 0, 25, 0.867), black);
  min-height: 80vh;
}

.artist-info {
  background-image: radial-gradient(circle, rgba(10, 0, 25, 0.867), black);
  padding: 20px;
  width: 150px;
  img {
    width: 100%;
    height: auto;
  }
}
