@import "./animation.scss";
.artistPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 7, 0.959),
      rgba(3, 0, 16, 0.838),
      rgba(9, 0, 54, 0.549)
    ),
    url("https://i.ibb.co/5jbn2kc/DALL-E-2024-09-27-11-04-33-A-luxurious-avant-garde-and-futuristic-event-website-header-design-with-a.webp");
}

/* Conteneur pour les infos de l'artiste (pseudo, localisation, détails) et l'image */
.mainContentContainer {
  display: flex;
  width: 500px; /* Largeur globale de la section */
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px; /* Espacement entre les sections */

  /* Chaque section prend respectivement 30% et 70% de la largeur */
  .artistInfoContainer {
    flex: 1 1 30%; /* 30% de l'espace pour les détails */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacement entre les éléments */
    justify-content: flex-start;
    align-items: center;
  }

  .artistImageContainer {
    flex: 1 1 70%; /* 70% de l'espace pour l'image */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    width: 100%; /* Remplit toute la largeur assignée */
    height: auto;
    position: relative;
  }

  .artistImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
}

/* Box de chaque détail */
.artistDetailsBox {
  padding: 10px 20px;
  height: 130px;
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.563)
    ),
    url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ2EwNmRnd3M5bTNqZThuaWpvdW15YjM3eHdjbTBraHA4MmcxZTMwcCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3oKIPzi5mrjsEj7Ow0/giphy.webp"); /* Fond semi-transparent */
  border: 2px solid rgb(215, 210, 179); /* Bordure dorée */
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.artistDescription {
  width: 500px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  max-height: 200px;
  overflow-y: auto; /* Pour activer la scrollbar quand le texte dépasse la hauteur maximale */
  position: relative;

  /* Custom scrollbar */
  &::-webkit-scrollbar {
    width: 10px; /* Largeur de la scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* Fond de la piste de la scrollbar */
    border-radius: 10px; /* Arrondi la piste */
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(
      180deg,
      #ffeca0,
      #ffe991
    ); /* Dégradé doré pour le pouce */
    border-radius: 10px; /* Arrondi la barre de défilement */
    border: 2px solid rgba(0, 0, 0, 0.3); /* Bordure autour du pouce pour contraste */
    box-shadow: inset 0 0 5px rgba(255, 236, 160, 0.5); /* Effet de brillance interne */
  }

  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
      180deg,
      #ffe991,
      #ffd700
    ); /* Couleur plus vive au survol */
  }

  /* Scrollbar visible pour Firefox */
  scrollbar-width: thin;
  scrollbar-color: #ffe991 rgba(255, 255, 255, 0.1); /* Couleurs pour Firefox */
}

/* Bouton de réservation centré */
.artistButtonReservation {
  bottom: 10px;
  z-index: 10;
  margin-top: 20px;
  position: absolute;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
}
