@import "./animation.scss";
.artistPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 7, 0.796),
      rgba(3, 0, 16, 0.641),
      rgba(9, 0, 54, 0.404)
    ),
    url("https://i.ibb.co/2Ws8wsy/3d34532d-ee7f-4709-afe5-92c40af1724c.webp");
  filter: contrast(110%) brightness(120%);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.gifer.com/1pX9.gif");
    opacity: 0.1;
    pointer-events: none;
  }
}

/* Conteneur pour les infos de l'artiste (pseudo, localisation, détails) et l'image */
.mainContentContainer {
  display: flex;
  width: 500px; /* Largeur globale de la section */
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px; /* Espacement entre les sections */

  /* Chaque section prend respectivement 30% et 70% de la largeur */
  .artistInfoContainer {
    flex: 1 1 30%; /* 30% de l'espace pour les détails */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacement entre les éléments */
    justify-content: flex-start;
    align-items: center;
  }

  .artistImageContainer {
    border-radius: 12px;
    flex: 1 1 70%; /* 70% de l'espace pour l'image */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(240, 235, 201); /* Bordure dorée */

    width: 100%; /* Remplit toute la largeur assignée */
    height: 450px;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to top,
        rgba(3, 0, 38, 0.499),
        rgba(9, 1, 55, 0.253)
      );
    }
    filter: contrast(90%) brightness(80%) grayscale(0.2);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExYjgxMXZxbWRoZnNvYTlwMzV5bHpoYTQ1bGh4aThtNnQydnd4ZXl3aCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/9JxkPTP3alOykb8PmQ/giphy.webp");
    }
  }

  .artistImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    border-radius: 12px;
    filter: contrast(110%) brightness(110%);
    transition: opacity 0.4s ease-in-out; /* Transition d'opacité */
  }

  .fadeIn {
    opacity: 1; /* Image visible */
  }

  .fadeOut {
    opacity: 0; /* Image invisible */
  }
}

/* Box de chaque détail */
.artistDetailsBox {
  padding: 10px 20px;
  height: 130px;
  border: 2px solid rgb(215, 210, 179); /* Bordure dorée */
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  &::before {
    opacity: 0.7;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.563)
      ),
      url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ2EwNmRnd3M5bTNqZThuaWpvdW15YjM3eHdjbTBraHA4MmcxZTMwcCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3oKIPzi5mrjsEj7Ow0/giphy.webp"); /* Fond semi-transparent */
  }
}
.artistAvatarContainer {
  width: 500px;
  justify-content: end;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 10px;
  gap: 10px;
}
.artistAvatar {
  width: 30%;
  height: auto;
  border: 2px solid rgb(215, 210, 179);
  cursor: pointer;
  border-radius: 12px;
  z-index: 5;
}
.artistDescription {
  width: 500px;
  text-align: left;
  height: fit-content;
  border-radius: 10px; /* Arrondi la barre de défilement */
}

/* Bouton de réservation centré */
.artistButtonReservation {
  cursor: pointer;
  margin-right: 15px;
  animation: pulsateLight 2s infinite;
}

/* Media query pour les écrans max 650px */
@media screen and (max-width: 650px) {
  .mainContentContainer {
    width: 400px;
    gap: 20px;

    .artistImageContainer {
      width: 100%; /* Remplit toute la largeur assignée */
      height: 350px;
    }
  }

  /* Box de chaque détail */
  .artistDetailsBox {
    padding: 10px 20px;
    height: 100px;
  }
  .artistAvatarContainer {
    width: 400px;
    margin-right: 5px;
    margin-bottom: 10px;
    gap: 5px;
  }

  .artistDescription {
    width: 400px;
    height: fit-content;
  }

  /* Bouton de réservation centré */
  .artistButtonReservation {
    margin-right: 5px;
  }
}

/* Media query pour les écrans max 650px */
@media screen and (max-width: 450px) {
  .mainContentContainer {
    width: 320px;
    gap: 10px;

    .artistImageContainer {
      width: 100%; /* Remplit toute la largeur assignée */
      height: 320px;
    }
  }

  /* Box de chaque détail */
  .artistDetailsBox {
    padding: 10px;
    height: fit-content;
  }
  .artistAvatarContainer {
    width: 320px;
    margin-right: 5px;
    margin-bottom: 5px;
    gap: 5px;
  }

  .artistDescription {
    width: 320px;
    height: fit-content;
  }

  /* Bouton de réservation centré */
  .artistButtonReservation {
    margin-right: 5px;
  }
}
