.about-container {
  padding: 60px 20px;
  background-image: radial-gradient(
      circle,
      rgba(5, 1, 41, 0.666),
      rgba(5, 0, 11, 0.944) 80%
    ),
    url("https://i.ibb.co/Z6Jqc6C/6b5adf55-d876-4511-ae44-ce32398200bf.webp");
  filter: contrast(1.04);
  background-size: cover;
  text-align: center;
}

.about-container h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

.about-contenu {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Deux colonnes pour un look structuré */
  gap: 40px;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto; /* Centrage de la grille */
}

.section {
  padding: 30px;
  background-image: radial-gradient(
    circle,
    rgba(18, 2, 44, 0.767),
    rgba(0, 0, 0, 0.695)
  );
  box-shadow: 0 0 4px magenta;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 500px;
}

.section:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15); /* Effet au survol */
}

.section h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.section p {
  font-size: 1.2rem;

  line-height: 1.6;
}

/* Responsive pour les petits écrans */
@media (max-width: 768px) {
  .about-contenu {
    grid-template-columns: 1fr; /* Une colonne pour mobile */
  }
}
