.valeurs-container {
  text-align: center;
  padding: 50px 20px;
  background-image: radial-gradient(
      circle,
      rgba(24, 11, 45, 0.522),
      rgba(5, 0, 11, 0.97) 70%
    ),
    url("https://i.ibb.co/RTv70Xx/61e9fec5-17a9-4d61-8ed2-9c6d2277a901.webp");
  filter: contrast(1.04) brightness(1.2);
}

.valeurs-container h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

.box-valeurs {
  background-image: radial-gradient(
    circle,
    rgba(13, 1, 32, 0.775),
    rgba(0, 0, 0, 0.695)
  );
  box-shadow: 0 0 4px magenta;
  padding: 30px;
  margin: 20px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.box-valeurs h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-transform: uppercase;
  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.box-valeurs p {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Effet hover */
.box-valeurs:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}
